<img src="assets/images/fooldal.jpg" id="hatterkep">

<div class="vfkozepre">
  <div class="cim">Villamos energia verhetetlen áron</div>
  <div style="color: white">Napelemes rendszerekkel, természetesen</div>

  <div class="gombdoboz">
    <a routerLink="/ajanlatkeres">
      <div class="gomb">Ajánlatkérés</div>
    </a>
  </div>
</div>

<div class="vjobbra" style="margin-top: 50px">
  <a routerLink="/palyazat"><img src="assets/images/infoblokk.png" align="right" width="160px" height="110px"></a>
</div>

<div class="lablec vkozepre atlatszo">
  <div style="color: white">
    Utolsó frissítés: 2018.10.11. <!--Látogatottság: <a href="http://www.simplehitcounter.com" target="_blank"><img
    src="http://simplehitcounter.com/hit.php?uid=2319361&f=0&b=16777215" border="0" height="18" width="83"></a>-->
  </div>
</div>
