 <img src="assets/images/fooldal.jpg" id="hatterkep">

<div class="vfkozepre">
  <div class="cim">Villamos energia verhetetlen áron</div>

  <div class="gombdoboz">
  <a routerLink="/ajanlatkeres">
    <div class="gomb">Ajánlatkérés</div>
  </a>
  </div>
</div>


 <div class="lablec vkozepre" style="background-color: white">
   <a routerLink="/palyazat">
     <img src="https://www.szechenyi2020.hu/logo.png" width="139px" height="50px">
     <img src="https://www.szechenyi2020.hu/infoblokk.png" width="200px" height="65px">
   </a>
 </div>
