<img src="assets/images/fooldal.jpg" id="hatterkep">

<div class="vfkozepre">
  <div class="cim">GridSolar Group Kft.</div>
  <div style="color: white">Villamos energia verhetetlen áron</div>
  <div style="color: white">Napelemes rendszerekkel, természetesen</div>

  <div class="gombdoboz">
    <a routerLink="/ajanlatkeres">
      <div class="gomb">Ajánlatkérés</div>
    </a>
    <a routerLink="/referenciak">
      <div class="gomb">Referenciák</div>
    </a>
    <a routerLink="/hibabejelentes">
      <div class="gomb">Hibabejelentés</div>
    </a>
    <a routerLink="/kapcsolat">
      <div class="gomb">Kapcsolat</div>
    </a>
  </div>

  <!--<div class="gombdoboz">-->
    <!--<a target="_blank" href="https://www.instagram.com/gridsolar">-->
      <!--<div class="gomb">Instagram</div>-->
    <!--</a>-->
  <!--</div>-->

</div>

<div class="vjobbra">
  <a routerLink="/palyazat"><img src="assets/images/infoblokk.png" align="right" width="160px" height="110px"></a>
</div>

<div class="lablec vkozepre atlatszo">
  <div style="color: white">
    Utolsó frissítés: 2020.07.29. <!--Látogatottság: <a href="http://www.simplehitcounter.com" target="_blank"><img
    src="http://simplehitcounter.com/hit.php?uid=2319361&f=0&b=16777215" border="0" height="18" width="83"></a>-->
  </div>
</div>
