<div style="height: 80px"></div>

<div class="hasab" *ngIf="!ajanlatkeresKesz; else elseBlock">
  <p align="justify">Kérjük töltse ki az alábbi mezőket (az első négyet mindenképp)!<br>Adatkezelési szabályainkat megismerheti <a routerLink="/gdpr">itt.</a></p>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <form #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
        <div class="form-group">
          <label for="nev">Név</label>
          <input type="text" class="form-control" name = "nev" [(ngModel)]="Fi.nev"
            placeholder="Név (min. 5, max. 100 kar.)"
            minlength="5" maxlength="100" required>
          <span class="help-block" *ngIf="chkInput(f, f.controls.nev)">Kérjük adja meg a nevét!</span>
        </div>
        <div class="form-group">
          <label for="cim">Cím</label>
          <input type="text" class="form-control" name="cim" [(ngModel)]="Fi.cim"
            placeholder="Cím (min. 5, max. 100 kar.)"
            minlength="5" maxlength="100" required>
          <span class="help-block" *ngIf="chkInput(f, f.controls.cim)">Kérjük adja meg a címét!</span>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="Fi.email"
            placeholder="E-mail (max. 100 kar.)"
            maxlength="100" required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <span class="help-block" *ngIf="chkInput(f, f.controls.email)">Kérjük adja meg helyesen az e-mail címét!</span>
        </div>
        <div class="form-group">
          <label for="telefon">Telefon</label>
          <input type="text" class="form-control" name="telefon" [(ngModel)]="Fi.telefon"
                 placeholder="Telefon (06xx 1234567)"
                 required>
          <span class="help-block"
                *ngIf="chkInput(f, f.controls.telefon)">Kérjük adja meg helyesen a telefonszámát!</span>

          <label for="kompenzalando">Kompenzálandó fogyasztás, kWh</label>
          <input type="number" class="form-control" name="kompenzalando" [(ngModel)]="Fi.kompenzalando"
                 placeholder="Kompenzálandó fogyasztás, kWh">
        </div>
        <div class="form-group">
          <label for="nevleges">vagy A napelemek teljesítménye, kW</label>
          <input type="number" class="form-control" name="nevleges" [(ngModel)]="Fi.nevleges"
            placeholder="A napelemek teljesítménye, kW">
        </div>

        <button type="submit" [disabled]="markattintott" class="btn btn-primary">Ajánlatkérés</button>
      </form>
      <div class="help-block" *ngIf="hiba">{{hibaUzenet}}</div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="hasab">
    <p>Tisztelt <b>{{Fi.nev}}</b>, a következő adatokkal kért tőlünk ajánlatot:<br><br>
      Cím: <b>{{Fi.cim}}</b><br>
      E-mail: <b>{{Fi.email}}</b><br>
      Telefon: <b>{{Fi.telefon}}</b><br>
    </p>
    <p *ngIf="Fi.kompenzalando">Kompenzálandó fogyasztás, kWh: <b>{{Fi.kompenzalando}}</b><p>
    <p *ngIf="Fi.nevleges">A napelemek teljesítménye, kW: <b>{{Fi.nevleges}}</b><p>
    <p><br>Ajánlatkérését e-mail-ben is megerősítettük. Hamarosan keresni fogjuk a részletek egyeztetése céljából!<p>
  </div>
</ng-template>
