<img src="assets/images/palyazat.jpg" id="hatterkep">
<div style="height: 80px"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12" style="background-color: white; text-align: center">
      <img src="https://www.szechenyi2020.hu/logo.png" width="139px" height="50px">
      <img src="https://www.szechenyi2020.hu/infoblokk.png" width="200px" height="65px">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 atlatszo-kozep" style="padding-top: 10px">
      <p>A kedvezményezett neve:<br><strong>GridSolar Group Kft.</strong></p>
    </div>
    <div class="col-xs-12 atlatszo-kozep">
      <p>A projekt címe:<br></p>
    </div>
    <div class="col-xs-12 atlatszo-kozep">
      <p>A szerződött támogatás összege:<br></p>
    </div>
    <div class="col-xs-12 atlatszo-kozep">
      <p>A támogatás mértéke:<br></p>
    </div>
    <div class="col-xs-12 atlatszo-kozep">
      <p>A projekt tartalmának bemutatása:<br></p>
    </div>
    <div class="col-xs-12 atlatszo-kozep">
      <p>A tervezett befejezés dátuma:<br></p>
    </div>
    <div class="col-xs-12 atlatszo-kozep">
      <p>A projekt azonosító száma:<br></p>
    </div>
  </div>
</div>
