<img src="assets/images/palyazat.jpg" id="hatterkep">
<div style="height: 80px"></div>

<div class="container">
  <div class="row no-gutter atlatszo">

    <div class="col-12 col-lg-3 atlatszo" style="height: 420px">
      <img src="assets/images/p-logo-bal.jpg" style="margin-top: 10px">
    </div>

    <div class="col-12 col-md-6 col-lg-4 atlatszo" style="height: 420px">
      <div style="height: 110px"></div>
      <p style="border-left: 1px solid black;padding-left: 4px;font-size: 9px">KÖSZÖNJÜK A MAGYAR ÁLLAM<br> ÉS AZ EURÓPAI UNIÓ TÁMOGATÁSÁT</p>
      <div style="margin-top: 30px">GRIDSOLAR GROUP KFT.</div>
      <div style="font-size: 16px;font-weight: bold">GYAKORNOKI PROGRAM MEGVALÓSÍTÁSA A GRIDSOLAR GROUP KFT-NÉL</div>
      <div style="margin-top: 30px">A TÁMOGATÁS ÖSSZEGE</div>
      <div style="color: blue"><strong>3,47 MILLIÓ fORINT</strong></div>
    </div>

    <div class="col-12 col-md-6 col-lg-5 atlatszo" style="height: 420px">
      <div style="height: 10px"></div>
      <div><strong>Kedvezményezett</strong></div>
      <div>GridSolar Group Kft.</div>
      <p style="margin-top: 10px"><strong>A projekt címe</strong><br>Gyakornoki program megvalósítása a GridSolar Group
        Kft-nél</p>
      <p style="margin-top: 10px"><strong>A támogatás összege</strong><br>3 467 050 Ft</p>
      <p style="margin-top: 10px"><strong>A támogatás mértéke</strong><br>100 %</p>
      <p style="margin-top: 10px"><strong>A projekt tartalmának bemutatása</strong><br>Gyakornok foglalkoztatása</p>
      <p style="margin-top: 10px"><strong>A tervezett befejezés dátuma</strong><br>2018. 03. 15.</p>
      <p style="margin-top: 10px"><strong>A projekt tényleges befejezése</strong><br></p>
      <p style="margin-top: 10px"><strong>A projekt azonosító száma</strong><br>GINOP-5.2.4-16-2016-01328</p>
    </div>
  </div>
</div>
