<img src="assets/images/palyazat.jpg" id="hatterkep">
<div style="height: 80px"></div>

<div class="container">
  <div class="row no-gutter atlatszo">

    <div class="col-12 col-lg-3 atlatszo" style="height: 420px">
      <img src="assets/images/p-logo-bal.jpg" style="margin-top: 10px">
    </div>

    <div class="col-12 col-md-6 col-lg-4 atlatszo" style="height: 420px">
      <div style="height: 110px"></div>
      <p style="border-left: 1px solid black;padding-left: 4px;font-size: 9px">KÖSZÖNJÜK A MAGYAR ÁLLAM<br> ÉS AZ EURÓPAI UNIÓ TÁMOGATÁSÁT</p>
      <div style="margin-top: 30px">GRIDSOLAR GROUP KFT.</div>
      <div style="font-size: 16px;font-weight: bold">GYAKORNOKI PROGRAM MEGVALÓSÍTÁSA A GRIDSOLAR GROUP KFT-NÉL</div>
      <div style="margin-top: 30px">A TÁMOGATÁS ÖSSZEGE</div>
      <div style="color: blue"><strong>3,47 MILLIÓ fORINT</strong></div>
    </div>

    <div class="col-12 col-md-6 col-lg-5 atlatszo" style="height: 420px">
      <div style="height: 10px"></div>
      <div><strong>Kedvezményezett</strong></div>
      <div>GridSolar Group Kft.</div>
      <p style="margin-top: 10px"><strong>A projekt címe</strong><br>Gyakornoki program megvalósítása a GridSolar Group
        Kft-nél</p>
      <p style="margin-top: 10px"><strong>A támogatás összege</strong><br>3 467 050 Ft</p>
      <p style="margin-top: 10px"><strong>A támogatás mértéke</strong><br>100 %</p>
      <p style="margin-top: 10px"><strong>A projekt tartalmának bemutatása</strong><br>Gyakornok foglalkoztatása</p>
      <!--<p style="margin-top: 10px"><strong>A tervezett befejezés dátuma</strong><br>2018. 03. 15.</p>-->
      <p style="margin-top: 10px"><strong>A projekt tényleges befejezése</strong><br>2018. 05. 20.</p>
      <p style="margin-top: 10px"><strong>A projekt azonosító száma</strong><br>GINOP-5.2.4-16-2016-01328</p>
    </div>
  </div>
  <div class="row no-gutter atlatszo">
    <div class="col-12 col-md-12 col-lg-12 atlatszo" style="height: 420px">
      <div style="height: 20px"></div>
      <h5>2018. 10. 11.</h5>
      <h4 style="color: blue">SAJTÓKÖZLEMÉNY</h4>
      <p>A GridSolar Group Korlátolt Felelősségű Társaság 2017 áprilisában 3,47 millió forint vissza nem térítendő támogatást nyert a „Gyakornoki program pályakezdők támogatására” című pályázati kiíráson. A projekt keretében gyakornok foglalkoztatása és eszköz beszerzés valósult meg.</p>
      <p>A vállalkozás alapítása 2000-ben történt. Társaságunk, a GridSolar Group Kft. elsősorban napelemes energiahasznosító rendszerek tervezésére, engedélyeztetésére, beüzemelésére és az ehhez kapcsolható mérnöki tanácsadásra szakosodott. Számunkra a napelemes technológia hazai elterjesztésében való aktív részvétel egy üzleti kihívás, amelyet mérnöki szemléletmóddal kezelünk.</p>
      <p>Az elnyert és megvalósított projekt keretében felvett gyakornokok száma 1 fő volt. A pályázat segítségével beszerzésre kerültek a gyakornok munkavégzéséhez szükséges eszközök és kifizetésre kerültek 9 hónapon keresztül a gyakornokok és a vállalati kapcsolattartó bér, járulék és adminisztrációs rezsi költségei. Gyakornokunknak a nálunk eltöltött 9 hónap és a 4,5 hónapos továbbfoglalkoztatási időszak alatt megszerzett munkatapasztalatának köszönhetően mindenképpen javul a munkaerő-piaci kilátása.</p>
      <p>A projekt megvalósításával támogattuk a szakképzésből kilépő fiatalok elhelyezkedését és munkatapasztalat szerzését ezzel is elősegítve a felsőfokú végzettséggel nem rendelkezők szakmai karrierjének, pályafutásának megerősítését és hosszabb távú munkaerő-piaci esélyeit.</p>
      <p><b>További információ kérhető:</b><br>GridSolar Group Korlátolt Felelősségű Társaság<br>info@gridsolar.hu<br>www.gridsolar.hu</p>
    </div>
  </div>
</div>
