<img src="assets/images/gdpr.jpg" id="hatterkep">
<div style="height: 80px"></div>

<div class="vfkozepre">
  <div class="gombdoboz">
    <a href="/assets/downloads/adatkezelesiszabalyzat.pdf" download="adatkezelesiszabalyzat.pdf">
      <div class="gomb">Adatkezelési szabályzat</div>
    </a>
  </div>
  <div class="gombdoboz">
    <a href="/assets/downloads/adatkezelesitajekoztato.pdf" download="adatkezelesitajekoztato.pdf">
      <div class="gomb">Adatkezelési tájékoztató</div>
    </a>
  </div>
  <div class="gombdoboz">
    <a href="/assets/downloads/adatkezelesikikotes.pdf" download="adatkezelesikikotes.pdf">
      <div class="gomb">Adatkezelési kikötések szerződéshez</div>
    </a>
  </div>
</div>
