/* You can add global styles to this file, and also import other style files */

/* Minden régi típú oldalhoz */
.hasab {
	margin:auto;
	width:95%;
	height:auto;
}

/* Régi típusú oldalak iniciáléja */
.kezdokep {
    width: 180px;
    height: 185px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* Vízszintesen és függőlegesen is középre igazít */
.vfkozepre {
    position:absolute;
    top:50%;
    margin-bottom:-50%;
    left:50%;
    margin-right:-50%;
    transform:translate(-50%,-50%);text-align:center;
}

.vkozepre {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

/* Beviteli mezőknél segítő/hiba szöveg */
.help-block {
    display: inline;
    color: red;
    font-style: italic;
}

#hatterkep {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
