<img src="assets/images/kapcsolat.jpg" id="hatterkep">
<div style="height: 80px"></div>

  <div class="row no-gutter">
    <div class="col-xs-12 col-sm-12" style="background-color: white; text-align: center">
      <img src="assets/images/gs_logo_180x53.jpg">
      <p><b>GridSolar Group Kft.</b></p>
    </div>
  </div>

  <div class="row no-gutter">
    <div class="col-xs-12 col-sm-12 atlatszo-kozep" style="padding-top: 10px">
      <p>5100 Jászberény, Túzok u. 42.<br>Iroda: 5100 Jászberény, Zoltán u. 4.</p>
    </div>
    <div class="col-xs-12 col-sm-12 atlatszo-kozep">
      <p>Adószám: 11967981-2-16<br>info@gridsolar.hu</p>
    </div>
  </div>

  <div class="row no-gutter">
    <div class="col-xs-12 col-sm-6 atlatszo-kozep">
      <p>Mezei Gábor, ügyvezető<br>+36 20 252-3105, gabor.mezei@gridsolar.hu</p>
    </div>
    <div class="col-xs-12 col-sm-6 atlatszo-kozep">
      <p>Mezei Anikó, irodavezető<br>+36 20 915-8104, aniko.mezei@gridsolar.hu</p>
    </div>
    <div class="col-xs-12 col-sm-6 atlatszo-kozep">
      <p>Lagzi-Kovács Sándor, ügyvezető<br>+36 20 257-5642, lks@gridsolar.hu</p>
    </div>
    <div class="col-xs-12 col-sm-6 atlatszo-kozep">
      <p>Kovácsné Vas Tímea, kereskedelmi referens<br>+36 20 275-0151, timea.kovacsne@gridsolar.hu</p>
    </div>
  </div>

